html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#display-canvas {
  width: 100%;
  height: 100%;
  display: block;
}


#loading-screen {
  background: linear-gradient(to bottom right, #0a0a0a, #1a1a1a);
}

#enter-btn:hover {
  background: #ffffff15;
  transform: translateY(-2px);
}

#enter-btn:active {
  transform: translateY(1px);
}

#type-container {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Add this to your CSS */
.country-marker {
  transition: all 0.3s ease;
  cursor: pointer;
  color: white;
  background-color: white;
  background: white;
}

.country-marker:hover {
  filter: brightness(1.2);
  transform: scale(1.2);

}